<div class="uk-grid"></div>
<div class="uk-grid">
  <div class="uk-width-large-8-10 uk-push-1-10">
    <%= render 'listings/shared/form' %>
  </div>
  <div class="uk-width-large-8-10 uk-push-1-10">&nbsp;</div>
  <div class="uk-width-large-8-10 uk-push-1-10">
    <%= link_to 'Back', listings_path %>
  </div>
</div>
