<div class="uk-grid"></div>
<div class="uk-grid">
  <div class="uk-width-large-8-10 uk-push-1-10">
    <div class="uk-row">
      <h2><%= @listing.business_name.capitalize %></h2>
      <div class="bdr-bottom spacer10"></div>
      <div class="uk-row">
        <div class="uk-form-file">
          <button class="uk-button uk-button-primary"><i class="uk-icon-plus"></i> Select Files</button>
          <input id="fileupload" type="file" name="files[]" data-url="<%= listing_upload_photos_path(@listing)%>" multiple>
        </div>
      </div>
      <div class="spacer10"></div>
      <div class="progress" id="progress">
        <div class="progress-bar progress-bar-success"></div>
      </div>
      <div class="spacer20"></div>
      <div id="listing_images" class="uk-row">
        <% @listing.photos && @listing.photos.each do | photo | %>
          <%= image_tag(photo.image.url,  style: "width: 200px; height: 150px;", class: 'uk-thumbnail') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    $('#fileupload').fileupload({
      dataType: 'json',
      progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .progress-bar-success').css(
            'width',
            progress + '%'
        );
      },
      done: function (e, data) {
        var imageUrl = data.result.photos.image.url;
        var imageString = "<img alt='Thumb handshake' src='" + imageUrl + "' class='uk-thumbnail' style='width: 200px; height: 150px;'>";
        if (imageUrl != null && imageUrl.length != 0) {
          if($("#listing_images").children().length > 0){
            $("#listing_images").children().last().after(imageString);
          } else {
            $("#listing_images").html(imageString);
          }
        }
      }
    });
  });
</script>
