@charset "utf-8";
@import "uikit";
@import "listings";

.bdr-bottom{
  border-bottom: 1px solid #d3d3d3;
}

.spacer5{
  margin-bottom: 5px;
}

.spacer10{
  margin-bottom: 10px;
}

.spacer15{
  margin-bottom: 15px;
}
.spacer20{
  margin-bottom: 20px;
}

.clear{
  clear:both;
  margin-bottom: 5px;
}

.cleaboth{
  clear:both;
}
